<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Registro Educacional Disciplinar</title>
    <link rel="stylesheet" href="/static/style3.css">
</head>
<body>
    <div class="container">
        <h1>Sistema de Registro Educacional Disciplinar</h1>
        <h2 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            ACESSO DIRETOR
        </h2>
        <form action="/login_diretor" method="post">
            <div class="input-field">
                <label for="usuario">Usuário:</label>
                <input type="text" id="usuario" name="usuario" placeholder="Ex: Mat">
            </div>
            <div class="input-field">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Ex: sua senha">
            </div>
            <button class="button">Entrar</button>
        </form>
    </div>
</body>
</html>