<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Registro Educacional Disciplinar</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="container">
        <h1>Sistema De Registro Educacional Disciplinar</h1>
        <h2 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ACESSO PROFESSOR</h2>
        <div class="input-field">
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" placeholder="Ex: Mat">
        </div>
        <div class="input-field">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" placeholder="Ex: sua senha">
        </div>
        <button class="button">Entrar</button>
    </div>
</body>
</html>