<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de professor</title>
    <link rel="stylesheet" href="/static/style3.css">
</head>
<body>
    <div class="container">
        <div class="header">

        </div>

        <div class="tab_pesquisa">
             <h1>cadastrodo professor</h1>
            <form action="/cadastro_prof" id="/but" method="POST">
                <div class="cad">
                    
                    <h1>nome do aluno <input type="text" name="nome"></h1>
                    <h1>matricula <input type="text" name="matricula"></h1>
                    <h1>cpf <input type="text" name="cpf"></h1>
                    <h1>turma <input type="text" name="turma"></h1>
                    <h1>email <input type="text" name="email"></h1>
                    <h1>numero <input type="text" name="numero"></h1>
                    <h1>data de nascimento <input type="text" name="data_d_nasc"></h1>
                    <h1>materia <input type="text" name="materia"></h1>
                    <h1>senha <input type="text" name="senha"></h1>

                </div>
        
        
                <h1>ano a frequentar: </h1>

        
                <button class="bot">ENVIAR</button>
        
            </form>

        </div>
    </div>
</body>
</html